html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: #212931;
    color: white;
    padding: 2rem 3rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

.container {
    width: 400px;
    margin: 0 auto;
}

section article {
    transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;
    background-color: white;
    margin: 1rem 0rem;
    border-radius: 0.7rem;
    padding: 0.25rem 0rem;
    cursor: pointer;
}

section article:hover {
    background-color: #C8102E;
    transform: scale(1.05) rotate(-5deg);
    box-shadow: 0 0.35rem 0.6rem rgba(0, 0, 0, 0.4);
}

section article h2, section article p {
    margin: 1rem;
}

footer {
    background-color: #222;
    padding: 2rem;
    color: #efefef;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}

.background-container {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 1s ease;
    z-index: -1;
}

.fade-out {
    opacity: 0;
}

/* Estilos para la barra de búsqueda */
.search-container {
    margin-top: 20px;
    text-align: center;
}

#searchInput {
    padding: 8px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #ccc;
    color: #333;
    transition: transform 0.3s ease; /* Agrega animación de transformación */
}

button {
    padding: 8px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 5px;
    color: #fff;
    background-color: #c8102e;
    border: none;
    transition: transform 0.3s ease; /* Agrega animación de transformación */
}

/* Agrega estilos cuando el usuario interactúa */
#searchInput:focus,
button:focus {
    transform: scale(1.1); /* Aumenta el tamaño al hacer clic */
}

